
body{
    background-repeat: no-repeat;
    background-image: url("images/helpjpg.jpg");
    background-size: cover ;
    background-attachment: fixed;
    position: relative;
    backface-visibility: hidden;
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}
#menu img{
    width:100px;
    padding: 30px 0px 0px;
}
#menu ul{
    margin-left: 70%;
    text-align: right;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.925);
    font-weight: bold;
    transition: linear;
    text-decoration: none;
}
#menu ul li a:hover{
    color: rgb(201, 38, 38);
}

#content1 p{
    padding: 50px;
    text-align: center;
    color: rgb(230, 1, 1);
    font-size: 3rem;
    font-weight:bolder;
    
}
